name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install
        run : |
          sudo apt install libtinfo5
          sudo apt update
          sudo apt upgrade -y
      - name: Install system dependencies
        run: |
          sudo apt-get install -y \
            openjdk-17-jdk \
            git \
            ffmpeg \
            libsdl2-dev \
            libsdl2-image-dev \
            libsdl2-mixer-dev \
            libsdl2-ttf-dev \
            libportmidi-dev \
            libswscale-dev \
            libavformat-dev \
            libavcodec-dev \
            zlib1g-dev \
            gstreamer1.0-tools \
            libgstreamer1.0-dev \
            gstreamer1.0-plugins-base \
            gstreamer1.0-plugins-good 
            
          pip install --upgrade pip

      - name: Build APK
        uses: digreatbrian/buildozer-action@v2
        with:
          python-version: '3.11'
          work-dir: .
          buildozer-cmd: buildozer -v android debug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: NeonClassicPong-APK
          path: ./bin/*.apk
          if-no-files-found: error
